<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>My book shelf</title>
    <style>
        hr {
            display: block;
            position: relative;
            padding: 0;
            margin: 8px auto;
            height: 0;
            width: 100%;
            max-height: 0;
            font-size: 1px;
            line-height: 0;
            clear: both;
            border: none;
            border-top: 1px solid #aaaaaa;
            border-bottom: 1px solid #ffffff;
        }
    </style>

</head>
<body>
<div>
    <table>
        <tr>
            <td><span th:inline="text">[[${#httpServletRequest.remoteUser}]]</span></td>
            <td><form th:action="@{/logout}" method="post"><input type="submit" value="Sign Out"/></form></td>
        </tr>
    </table>
    <hr>
    <form method="post" th:action="@{/save}" th:object="${book}">
        <table>
            <tr>
                <td><input type="text" placeholder="author" th:field="*{author}"></td>
                <td><input type="text" placeholder="book_title" th:field="*{title}"></td>
                <td><input type="text" placeholder="size (pages)" th:field="*{size}"></td>
                <td><input type="submit" value="save"></td>
            </tr>
            <tr>
                <td><span th:if="${#fields.hasErrors('author')}">Author is empty!</span></td>
                <td><span th:if="${#fields.hasErrors('title')}">Title is empty!</span></td>
                <td><span th:if="${#fields.hasErrors('size')}">Format: 9999!</span></td>
                <td></td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/removeById}" th:object="${bookIdToRemove}">
        <table>
            <tr>
                <td><input type="text" placeholder="id number" th:field="*{id}"></td>
                <td><input type="submit" value="Remove by Id"></td>
                <td th:if="${#fields.hasErrors()}"><span>Wrong ID or not found</span></td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/removeByAuthor}">
        <table>
            <tr>
                <td><input type="text" placeholder="Author" th:name="authorToRemove"></td>
                <td><input type="submit" value="Remove by Author"></td>
            </tr>
        </table>
    </form>
    <form method="post" th:action="@{/removeByTitle}">
        <table>
            <tr>
                <td><input type="text" placeholder="Title" th:name="titleToRemove"></td>
                <td><input type="submit" value="Remove by Title"></td>
            </tr>
        </table>
    </form>
    <form method="post" th:action="@{/removeBySize}">
        <table>
            <tr>
                <td><input type="text" placeholder="Size (pages)" th:name="sizeToRemove"></td>
                <td><input type="submit" value="Remove by Size"></td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/findBy}" th:object="${searchBook}">
        <table>
            <tr>
                <td><input type="text" placeholder="author" th:field="*{author}"></td>
                <td><input type="text" placeholder="book_title" th:field="*{title}"></td>
                <td><input type="text" placeholder="size (pages)" th:field="*{size}"></td>
                <td><input type="submit" value="Filter"></td>
            </tr>
<!--
            <tr>
                <td><span th:if="${#fields.hasErrors('author')}">Author is empty!</span></td>
                <td><span th:if="${#fields.hasErrors('title')}">Title is empty!</span></td>
                <td><span th:if="${#fields.hasErrors('size')}">Format: 9999!</span></td>
                <td></td>
            </tr>
-->
        </table>
    </form>

    <table id="books">
        <tr>
            <th>id</th>
            <th>author</th>
            <th>title</th>
            <th>size</th>
        </tr>
        <tr th:each="book : ${bookList}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.size}"></td>
        </tr>
    </table>

    <hr>
    <form method="post" th:action="@{/uploadFile}" enctype="multipart/form-data">
        <table>
            <tr>
                <td><input type="file" name="file"/></td>
                <td><input type="submit" value="Upload"></td>
            </tr>
        </table>
    </form>

    <hr>
    <p>Click <a th:href="@{/}">here</a> to main page</p>

</div>
</body>
</html>