<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        hr {
            display: block;
            position: relative;
            padding: 0;
            margin: 8px auto;
            height: 0;
            width: 100%;
            max-height: 0;
            font-size: 1px;
            line-height: 0;
            clear: both;
            border: none;
            border-top: 1px solid #aaaaaa;
            border-bottom: 1px solid #ffffff;
        }
    </style>
</head>
<body>
<!--
    <div sec:authorize="isAuthenticated()">
        This content is only shown to authenticated users.
    </div>
-->
    <h1>Welcome to Book Store!</h1>
    <hr>
    <p>Click <a th:href="@{/book}">here</a> to proceed</p>
    <p>Click <a th:href="@{/new}">here</a> to create a new account</p>
</body>
</html>