<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Book shelf login</title>
    <meta charset="UTF-8">
    <style>
        hr {
            display: block;
            position: relative;
            padding: 0;
            margin: 8px auto;
            height: 0;
            width: 100%;
            max-height: 0;
            font-size: 1px;
            line-height: 0;
            clear: both;
            border: none;
            border-top: 1px solid #aaaaaa;
            border-bottom: 1px solid #ffffff;
        }
    </style>
</head>
<body>
    <form method="post" th:action="@{/new}" th:object="${loginForm}">
        <table>
            <tr>
                <td>
                    <p th:if="${param.error}">Invalid username and password</p>
                    <p th:if="${param.logout}">You have been logged out</p>
                </td>
            </tr>
            <tr>
                <td><input type="text" placeholder="Username" th:field="*{username}"></td>
                <td><p th:if="${#fields.hasErrors('username')}">Username is empty!</p></td>
            </tr>
            <tr>
                <td><input type="password" placeholder="Password" th:field="*{password}"></td>
                <td><p th:if="${#fields.hasErrors('password')}">Password is Empty!</p></td>
            </tr>
            <tr>
                <td><input type="submit" value="Create"></td>
            </tr>
        </table>
    </form>
    <hr>
    <p>Click <a th:href="@{/}">here</a> to main page</p>

</body>
</html>
