<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        hr {
            display: block;
            position: relative;
            padding: 0;
            margin: 8px auto;
            height: 0;
            width: 100%;
            max-height: 0;
            font-size: 1px;
            line-height: 0;
            clear: both;
            border: none;
            border-top: 1px solid #aaaaaa;
            border-bottom: 1px solid #ffffff;
        }
    </style>
</head>
<body>
    <form th:action="@{/login}" method="post">
        <table>
            <tr>
                <td>
                    <p th:if="${param.error}">Invalid username and password</p>
                    <p th:if="${param.logout}">You have been logged out</p>
                </td>
            </tr>
            <tr>
                <td><input type="text" placeholder="Username" name="username" autofocus="autofocus"></td>
            </tr>
            <tr>
                <td><input type="password" placeholder="Password" name="password"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Sign In"></td>
            </tr>
        </table>
    </form>

    <hr>
    <p>Click <a th:href="@{/}">here</a> to main page</p>
    <p>Click <a th:href="@{/new}">here</a> to create a new account</p>

    <!--
    <form method="post" th:action="@{/auth}" th:object="${loginForm}">
        <img class="login_item" th:src="@{/images/book_icon.png}" alt="">
        <br>
        <input class="login_item" type="text" placeholder="Username" th:field="*{username}">
        <p th:if="${#fields.hasErrors('username')}">Username Must NOT Be Empty!</p>
        <br>
        <input class="login_item" type="password" placeholder="Password" th:field="*{password}">
        <p th:if="${#fields.hasErrors('password')}">Password Must NOT Be Empty!</p>
        <br>
        <input class="login_item" type="submit" value="Login">
    </form>
    -->
</body>
</html>